body {
    font-family: "TabletGothic", "Helvetica Neue", Helvetica, Arial, FreeSans, sans-serif;
    font-size: 1em
}
#overlay-wrapper {
    display: none
}

.container--white {
    background-color: white;
    padding-top: 0.938em; /* 15px */
    padding-bottom: 0.938em
}
.container--white a:hover {
    text-decoration: none
}

.teaser {
    position: relative;
    padding-bottom: 0.938em;
}
.teaser__title {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 2.0rem;
    font-weight: bold;
    letter-spacing: -0.15rem;
    width: 70%;
    color: #000;
    line-height: 1.25em
}
.teaser__title-bg {
    display: inline;
    padding: 0.125em 0.25em 0.25em 0;
    background-color: white;
    white-space: pre-wrap;
    word-spacing: 0.2em
}
.teaser__kicker {
    font-size: 1.0rem;
    margin-top: -2.5em
}
.teaser__kicker--blue {
    color: #00F
}
.teaser__kicker-bg {
    display: inline;
    background-color: white;
    padding: 0.5em 1em 1.25em 0
}
.teaser__text {
    width: 95%;
    color: #000
}
.teaser__text-comment {
    color: #888;
    width: 95%;
    margin-top: 0.938em
}
.teaser__link-text {
    border-bottom: 1px solid #888
}

/** max-width: 768px */
@media screen and (max-width: 48em) {
    .teaser {
        margin-bottom: 0.938em
    }
    .teaser:last-child {
        margin-bottom: 0
    }
    .teaser__title {
        font-size: 1.70rem;
        letter-spacing: -0.1rem
    }
    .teaser__kicker {
        margin-top: -1.25em
    }
}